* {
    box-sizing: border-box;
}

body {
    background-image: url("images/blackjack.jpg");
    background-size: cover;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: bold;
}

h1 {
    color: goldenrod;
    font-size: 70px;
}

#message-el {
    text-align: center;
    font-size: 30px;
    border: 2px solid rgba(121, 118, 118, 0.705);
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0px;
}

p {
    text-align: center;
    font-size: 25px;
}

button {
    color: #016f32;
    width: 150px;   
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
}